*.class
*.jar
*.war
*.ear


*.log

.idea/
*.iml

.project
.classpath
.settings/

.vscode/

/target/
/build/
/out/

.DS_Store
Thumbs.db

*.env
.env
.env.*
src/util/ConexaoBD.java

config.properties
application.properties

*.sqlite
*.db

*.bak
*.tmp