*.class
*.jar
*.war
*.ear


*.log

.idea/
*.iml

.project
.classpath
.settings/

.vscode/

/target/
/build/
/out/

.DS_Store
Thumbs.db

*.env
.env
.env.*

config.properties
application.properties

# ========================
# Arquivos locais
# ========================
*.sqlite
*.db

# ========================
# Backup
# ========================
*.bak
*.tmp